<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Opening cerrajeria</title>
   <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>
  <body style="width: 100%; height: 200%; display: block;background-image: url(../img/fondo7.png); background-position: initial, center; overflow: hidden;"> 
<header>
            <img class="logo" src="../img/logo.png" alt="LLAVE">
    <nav>
         <ul>
             <li> <a href="../index.html"><h1>INICIO</h1></a></li>
             <li><a href="../template/barrasAntipanico.html"><h1>RESIDENCIAL</h1></a></li>
             <li><a href="../template/cierraPuertas.html"><h1></h1>VEHICULAR</a></li>
             <li><a href="../template/ojosMagicos.html"><h1>OJO MAGICO</h1></a></li>
             <li><a href="../template/topeParaPuertas.html"><h1>TOPE DE PUERTA</h1></a></li>
         </ul>
    </nav>
    </header>
    <section>
            <div class="contenedor">
                <form action="">
                  <div class="form-header">
                      <img class="carita" src="../img/carita.png">
                  </div>
                  <div class="na">
                        <label for="Nombre" class="Nombre">Nombre y Apellido:</label>
                        <input type="text" class="Nombre2" placeholder="Escriba su Nombre">
                  </div>
                    <div class="cel"><label for="Movil" class="Movil">Numero celular:</label>
                    <input type="text" class="Movil2" placeholder="Escriba su numero movil">
                  </div>
                  <div class="asesor"><label for="Asesoria" class="Consulta">Consultas:</label>
                    <textarea id="mensaje" class="Consulta2" placeholder="Escriba su consulta"></textarea>
                  </div>
                  <div class="enviar">
                    <input type="submit" class="boton" value="Enviar consulta">
                    <input type="submit" class="boton2" value="Registrarse">
                  </div>
                </form>
            </div>
            <video src="../video/cerrajeria.mp4" controls loop></video>
            <div class="social">
                <img class="redes2" src="../img/you2.png">
                <img class="redes3" src="../img/ml.png">
                <img class="redes4" src="../img/face2.png">
                <img class="redes5" src="../img/tiktok2.png">
                <img class="redes6" src="../img/ins2.png">
            </div>
    </section>
            <div class="pie">
                <h2>MOVIL: 317 326 91 89</h2>
            </div>
                <div class="copy"><p>! 17 AÑOS HACIENDO DE TU HOGAR UN LUGAR MAS SEGURO ¡</p></div>
</body>
</html>        