<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Opening cerrajeria</title>
   <link rel="stylesheet" href="../css/estilos.css" />
   <style>
    nav{padding-left: 15%;}
    li{padding-left: 5%;}
   </style>
</head>
<body>
<header>
            <img class="logo" src="../img/logonegro.png" alt="LLAVE">
</header>
    <nav>
         <ul>
             <li> <a href="../index.html"><h1>INICIO</h1></a></li>
             <li> <a href="../template/servicios.html"><h1>CERRADURAS DE SOBREPONER</h1></a></li>
             <li><a href="../template/herrajes.html"><h1>CERRADURAS DE EMBUTIR</h1></a></li>
             <li><a href="../template/puertas.html"><h1>BARRAS ANTI PANICO</h1></a></li>
             <li><a href="../template/duplicados.html"><h1>BRAZOS HIDRAULICOS</h1></a></li>
         </ul>
    </nav>
    <section>
        <div class="sliderPrincipal">
            <div class="slider">
               <img id="uno" src="../img/slider2.png" alt="paisage">
               <img id="dos" src="../img/slider1.png" alt="paisage">
               <img id="tres" src="../img/slider2.png" alt="paisage">
               <img id="cuatro" src="../img/slider3.png" alt="paisage">
            </div>
            <div class="sliderNav">
               <a href="#uno"></a>
               <a href="#dos"></a>
               <a href="#tres"></a>
               <a href="#cuatro"></a>
            </div>
       </div>
   </section>
   <article>
       <a href="../index.html"><img id="cinco" src="../img/face.png" alt="paiseje"></a>
       <a href="../index.html"><img id="seis" src="../img/you.png" alt="paiseje"></a>
       <a href="../index.html"><img id="siete" src="../img/ins.png" alt="paiseje"></a>
       <a href="../index.html"><img id="ocho" src="../img/tiktok.png" alt="paiseje"></a>
       <a href="../index.html"><img id="contacto" src="../img/what.png" alt="paiseje"></a>
   </article>
    
</body>
</html>        