<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Opening cerrajeria</title>
   <link rel="stylesheet" href="../css/estilos2.css" />
   <style>
    .principal{padding-left: 30%;}
   </style>
</head>
<body>
<header>
    <img class="logo" src="../img/logonegro.png" alt="LLAVE">
<nav class="principal">
    <ul class="menu">
        <li class="servicios"><a href="../template/servicios.html">DIGITALES</a></li>
        <li class="servicios"><a href="#">DE EMBUTIR</a></li>
        <li class="servicios"><a href="#">DE SOBREPONER</a></li>
    </ul>
</nav></header>
<aside>
    <nav class="redes">
        <ul class="menu">
             <li class="what"><a href="#"><img class="muñeco" src="../img/whatsapp.png" alt="LLAVE"></a></li>
             <li class="face"><a href="../index.html"><img class="muñeco" src="../img/casa.png" alt="LLAVE"></a></li>
             <li class="face"><a href=""><img class="muñeco" src="../img/carrito.png" alt="LLAVE"></a></li>

        </ul>
    </nav>
</aside>

     <section class="almacen">
        <img class="producto" src="../img/cerradura.png" alt="LLAVE">
        <img class="producto" src="../img/cerradura.png" alt="LLAVE">
        <img class="producto" src="../img/cerradura.png" alt="LLAVE">
        <img class="producto" src="../img/cerradura.png" alt="LLAVE">
        <img class="producto" src="../img/cerradura.png" alt="LLAVE">
        <img class="producto" src="../img/cerradura.png" alt="LLAVE">
        <img class="producto" src="../img/cerradura.png" alt="LLAVE">
        <img class="producto" src="../img/cerradura.png" alt="LLAVE">
        <img class="producto" src="../img/cerradura.png" alt="LLAVE">
        <img class="producto" src="../img/cerradura.png" alt="LLAVE">
        <img class="producto" src="../img/cerradura.png" alt="LLAVE">
        <img class="producto" src="../img/cerradura.png" alt="LLAVE">
     </section>

</body>
</html>        
